body{
    padding: 1%;
    background-size: auto;
    background-color: #343a40!important;
    color: whitesmoke !important; 
}
.navbar{
    background-color: #343a40;
}
.navbar-light .navbar-brand {
    color: whitesmoke !important;
    font-weight: bold;  
}
.nav-link {
    color: whitesmoke !important;
}

.textosYbotones {
    display: flex;


}
.boton{
    background-color : #697480 !important;
    font-weight: bold;
    border-color: black; 
    border-radius: 3px;
    width: 100%;
    color: whitesmoke;

}

.boton:hover{
    background-color: #cbd8e6!important;
    color: #3f1520 !important;
} 

.col-md-12 {
    display: flex;
}

.izq {
    display: flex;
    justify-content: center;

}

.col-md-4 {
    align-content: center;
    justify-content: center;

}

.col-md-8 {
    border-bottom: 1px whitesmoke groove;
}

.down {

    height: 45%;
    flex-direction: column;

}

